$light: #fff;
$primary-color: #97CD57;
$secondary-color: #4E8753;
$overly-color: #283044;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Noto Sans', sans-serif;
$secondary-font:'Noto Serif', serif;
$icon-font: 'themefisher-font';